@import "../../node_modules/flatpickr/dist/flatpickr.css";
@import "../../node_modules/flatpickr/dist/themes/airbnb.css";

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

span.flatpickr-day.startRange, span.flatpickr-day.prevMonthDay.startRange, span.flatpickr-day.nextMonthDay.startRange, span.flatpickr-day.endRange, span.flatpickr-day.prevMonthDay.endRange, span.flatpickr-day.nextMonthDay.endRange {
    @apply bg-logo-primary border-logo-secondary;
}
span.flatpickr-day.startRange, span.flatpickr-day.prevMonthDay.startRange, span.flatpickr-day.nextMonthDay.startRange, span.flatpickr-day.endRange, span.flatpickr-day.prevMonthDay.endRange, span.flatpickr-day.nextMonthDay.endRange {
    @apply border-logo-primary;
}
.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {

    @apply bg-logo-light border-logo-secondary text-white;
    box-shadow: none;
}


[x-cloak]{
    display: none;
}

table.striped tr:nth-child(even) {
    @apply bg-logo-gray;
}
table.striped tr:hover:nth-child(even) {
    @apply bg-gray-200;
}

.button-primary {
    @apply bg-logo-primary p-2 text-sm text-center text-white font-semibold rounded-xl shadow border border-logo-gray;
}
.button-primary:hover {
    @apply bg-logo-light;
}

.button-secondary {
    @apply bg-logo-gray p-2 px-5 text-sm text-center text-logo-primary font-semibold shadow border border-logo-gray;
}

.button-secondary:hover {
    @apply bg-logo-gray;
}

.button-primary:focus, .button-secondary:focus {
    @apply outline-none;
}
.ql-placeholder{
    min-width: 100px;
    width: 100px;
}
